@font-face {
    font-family: 'SHUTTLE-X';
    font-style: normal;
    font-weight: normal;
    src: local('SHUTTLE-X'), url('SHUTTLE-X.woff') format('woff');
    }
    h1{
        font-family: 'SHUTTLE-X';
        font-weight: 100;
        color: aqua;
    }